{
	"prod": {
		"workers": 1,
		"port": 9124,
    "hostname": "127.0.0.1",
		"upstream": "ws://localhost:9125",
		"retryDelay": 10000,
		"closeTimer": 15000,
		"enableInstrumentation": true,
    "instrumentationTimer": 60000
	},
	"test": {
		"workers": 1,
		"port": 8999,
    "hostname": "127.0.0.1",
		"upstream": "ws://localhost:8999",
		"retryDelay": 10000,
		"closeTimer": 15000,
		"enableInstrumentation": true,
    "instrumentationTimer": 60000
	},
	"dev": {
		"workers": 1,
		"port": 9124,
    "hostname": "127.0.0.1",
		"upstream": "ws://localhost:9125",
		"retryDelay": 10000,
		"closeTimer": 15000,
		"workerKillTimer": 10000,
		"enableInstrumentation": true,
    "instrumentationTimer": 60000
	}
}
